@import "component/color.scss";
@import "component/custom.scss";
@import "component/initial.scss";

div,
ul,
li,
a{
  box-sizing: border-box;
}

body{
  padding: 0;
  margin: 0;
}

.dot-before{
  border-left: 1px $muted solid;

  li{
    &::before{
      display: inline-block;
      margin-right: 15px;
      margin-left: -4px;
      content: '';
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $muted;
    }
  }
}

#header{
  @include sm-width{
    height: 88px;
  }
}

.header-rwd{
  @include sm-width{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  }
}

.header-logo{
  position: relative;

  .header-bg-01{
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
  }

  .header-bg-02{
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
  }
}

.header-menu{
  @include md-width{
    background-color: $info;
  }
  @include sm-width{
    background-color: $bg-skyblue;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100vh;
    padding-top: 70px;
  }

  li{
    position: relative;
    @include md-width{
      color: white;
    }

    @include md-width{
      &:hover{
        background-color: rgba(0, 0, 0, 0.2);

        >ul{
          display: block;
        }
      }
    }

    ul{
      @include md-width{
        display: none;
        position: absolute;
        background-color: #EEE;
        width: 100%;
        left: 0;
        z-index: 2;
      }
      @include sm-width{
        background-color: rgba(0,0,0,0.05);
      }

      li{
        color: #333;
        flex: 0 0 100% !important;
      }
    }
  }
}

.header-menu-icon{
  position: fixed;
  top: 28px;
  right: 20px;
  font-size: 30px;
  z-index: 5;
  @include md-width{
    display: none;
  }
}

.index-news-item{
  border-bottom: 1px $muted solid;
  &:nth-last-child(1){
    border-bottom: 0;
  }
}

.index-title{
  font-size: 20px;
  line-height: 1.4;
  @include md-width{
    font-size: 24px;

    &.large-md{
      font-size: 40px;
    }
  }
}

.page-title{
  font-size: 30px;
  @include sm-width{
    font-size: 24px;
  }
}

.section-title{
  font-size: 1.2rem;
}

.page-menu-md{
  @include sm-width{
    display: none;
  }

  li{
    position: relative;

    &.active{
      >div{
        .menu-toggle-btn{
          transform: rotate(90deg);
          -moz-transform: rotate(90deg);
          -webkit-transform: rotate(90deg);
          -o-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
        }
      }
    }
  }

  >li{
    >a{
      font-weight: bold;
      font-size: 1.1em;
    }

    li{
      &::before {
        @include md-width{
          content: "";
        }
        display: inline-block;
        width: 8px;
        height: 8px;
        background-color: $muted;
        border-radius: 50%;
        position: absolute;
        top: 1rem;
        left: -29px;
      }
    }

    li{
      li{
        color: $info;

        &::before{
          background-color: $info;
        }
      }
    }

    ul{
      display: none;
    }
  }
  
  ul{
    @include md-width{
      border-left: 1px $muted solid;
    }

    ul{
      border-color: $info;
    }
  }

  a{
    display: block;
    padding: 5px 0;
    &:hover{
      color: $info;
      transition: color 0.5s;
    }
  }

  .menu-toggle-btn{
    cursor: pointer;
    transition: all 0.5s;
  }
}

.page-menu-sm{
  flex-wrap: nowrap;
  overflow-x: scroll;
  @include md-width{
    display: none;
  }

  li{
    background-color: $second_color;
    color: white;
    &:not(:nth-last-child(1)){
      margin-right: 7px;
    }
  }
}

.fixed-top-icon{
  @include md-width{
    position: fixed;
    top: 10px;
    left: 5%;
  }
}

.iframe-rwd {
    position: relative;
    padding-bottom: 75%; // This is the aspect ratio
    overflow: hidden;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
}